export SECRET_KEY = 's#@47oj+$1f11pgkb@j_*lskon3pp3py4*rza=#@np(jn2a)8u'
export DB_NAME = 'gym_app'
export DB_USER = 'root'
export DB_PASSWORD = '...'
export DB_HOST = 'localhost'
export DB_PORT = '3306'
export DEBUG = 'True'
export DB_USED='sqlite'
export ALLOWED_HOSTS='*'
export CSRF_TRUSTED_ORIGINS = 'http://localhost:8000,http://127.0.0.1:8000'